.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




/* STYLING TIL AdresseDrawer  Jakob*/ 
 .DrawerComp {
  margin-left: 24px;
  width: auto;
 }


 .UseLocation {
  display: flex;
  background-color: #14B7A5;
  justify-content: center;
  width: 95%;
  align-self: center;
  color: white;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 5vh;
  font-weight: 600;
 }

.TextIcon {
  padding-right: 8px;
}

.Drawerdivider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 95%;
  font-size: 12px;

}


.Drawerdivider::before, 
.Drawerdivider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000; 
  margin: 0 10px;
}

.AddInput {
  width: 95%;
  margin-bottom: 10vh;
}

/* STYLING TIL ProfilePage  Jakob*/ 

.ProfilePage  {
  margin-left: 24px;
}
.ProfileHeader {
  display: flex;
  padding-bottom: 2vh;
  
}

.PrefHeader {
  padding-bottom: 4vh;
}

.PrefSwitch {
  display: flex;
  flex-direction: row;
  padding-bottom: 4vh;
  align-items: center;
}


/* Styling af ProfileFront  Jakob*/

.FrontContainer {
  display: flex;
  flex-direction: row;
  
}

.NameDescrip {
  padding-left: 2.5vw;
}

.NameDescrip h3 {
  font-size: 24px;
  font-weight: 800;
}

.NameDescrip p {
  font-size: small;
}
 
/* Styling af Preferences  Jakob*/

.AgentHeader p, .PrefHeader p {
  font-size: small;
} 

.OBS {
  font-weight: 800;
}

.PrefSwitch  {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

/* Styling af SearchAgent  Jakob*/
.AgentCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #EAFAF9;
  margin-right: 24px;
  margin-bottom: 2vh;
  padding: 5px;
  border-radius: 8px;
}

.AgentSpec {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #134E4A;
}

.AgentEditor {
  font-weight: 800;
  font-size: large;
  color: #134E4A;
}

.AgentButton {
  color: #14B7A5;
  margin-bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1; 
}

.AgentArrow {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: 5px;

}

.AgentArrow::before,
.AgentArrow::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #14B7A5; 
  border-radius: 8px;
}

.AgentArrow::before {
  transform: rotate(45deg);
  top: 0;
  right: 0;
}

.AgentArrow::after {
  transform: rotate(-45deg);
  bottom: 2px;
  right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*StoreCard - Anders*/
.shopCardContainer {
  border-radius: 1rem;
  overflow: hidden;
}

.storeCardHeading {
  background-color: var(--primary-dark);
  align-items: center;
  color: var(--input);
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.shopInfo {
  align-items: end;
}

.shopCardLogo {
  border-radius: 5rem;
  object-fit: fill;
  overflow: hidden;
}

.shopCardMain {
  background-color: #EAFAF9;
  
}


/* ShopPage - Anders*/



.slideshow-container {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}

.dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dot-navigation {
  background-color: #F1F5F9;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-block: 1rem;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #14B7A5;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #134E4A;
}
